.city {
	background: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);
	/* background-color: green; */
	height: 100vh;
	/* position: relative; */
}

.city__link {
	cursor: pointer;
}

.city__link-text {
	display: none;
}

.city__container-icon {
	padding: 20px 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.city__image-back {
	width: 24px;
	height: 24px;
}

.city__image-back:hover {
	opacity: 0.7;
}

.city__button {
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.city__image-bookmark {
	display: block;
	width: 24px;
	height: 24px;
}

.city__image-bookmark:hover {
	opacity: 0.7;
}

.city__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 45px;
}

.city__title {
	margin: 0;
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 110.7%;
	/* 26.568px */
}

.city__text {
	margin: 0;
	padding-top: 13px;
	color: #FFF;
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 110.7%;
	/* 15.498px */
}

.city__container-temp {
	margin: 0;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.city__temperature {
	margin: 0;
	padding-top: 11px;
	font-size: 120px;
	font-style: normal;
	font-weight: 600;
	line-height: 110.7%;
	background: linear-gradient(180deg, #FFF 11.65%, rgba(255, 255, 255, 0.00) 139.47%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.city__image-weather {
	display: flex;
	width: 160px;
	height: 160px;
	/* padding: 0 24px; */
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.city__container-pressure {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding-top: 11px;
}

.city__image-pressure {
	width: 24px;
	height: 24px;
	padding-right: 8px;
}

.city__pressure {
	color: #FFF;
	text-shadow: -1.398px 2.098px 0.699px rgba(0, 0, 0, 0.10);
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}

.city__time {
	color: #8A91AB;
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 110.7%;
	margin: 0;
	padding-top: 38px;
}

@media (min-width: 1152px) {
	.city__container-icon {
		padding: 26px 34px 0;
		align-items: center;
	}

	.city__link {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		align-items: center;
	}

	.city__link-text {
		display: block;
		margin: 0;
		padding-left: 12px;
		color: #8A91AB;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 110.7%;
	}

	.city__container {
		padding-top: 27px;
	}

	.city__title {
		font-size: 56px;
	}

	.city__text {
		margin: 0;
		padding-top: 16px;
		font-size: 16px;
	}

	.city__container-temp {
		padding-top: 40px;
		flex-direction: row;
		gap: 20px;
	}
	.city__temperature {
		padding-top: 0px;
	}

	.city__container-pressure {
		padding-top: 50px;
	}

	.city__pressure {
		font-size: 16px;
	}

	.city__time {
		font-size: 16px;
		padding-top: 30px;
	}
}
