.city {
	background: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);
	/* background-color: green; */
	height: 100vh;
	/* position: relative; */
}

.city__image-back {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 20px;
	left: 20px;
}
.city__image-back:hover{
	opacity: 0.7;
}

.city__button{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.city__image-bookmark {
	display: block;
	width: 24px;
	height: 24px;
	/* position: absolute;
	top: 20px;
	right: 20px; */
}
.city__image-bookmark:hover{
	opacity: 0.7;
}

.city__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 92px;
}

.city__title {
	margin: 0;
	color: #FFF;
	/* font-family: SF Pro Display; */
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 110.7%;
	/* 26.568px */
}

.city__text {
	margin: 0;
	padding-top: 13px;
	color: #FFF;
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 110.7%;
	/* 15.498px */
}

.city__temperature {
	margin: 0;
	padding-top: 11px;
	/* font-family: SF Pro Display; */
	font-size: 120px;
	font-style: normal;
	font-weight: 600;
	line-height: 110.7%;

	background: linear-gradient(180deg, #FFF 11.65%, rgba(255, 255, 255, 0.00) 139.47%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.city__image-weather {
	display: flex;
	width: 160px;
	height: 160px;
	/* padding: 0 24px; */
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.city__container-pressure {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding-top: 11px;
}

.city__image-pressure {
	width: 24px;
	height: 24px;
	padding-right: 8px;
}

.city__pressure {
	color: #FFF;
	text-shadow: -1.398px 2.098px 0.699px rgba(0, 0, 0, 0.10);
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}

.city__time {
	color: #8A91AB;
	/* font-family: SF Pro Display; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 110.7%;
	margin: 0;
	padding-top: 38px;
}
